// ---------------------------------------- Base Colors ----------------------------------------

$white: #ffffff;
$black: #000000;
$lightGrey: #f5f5f5;
$darkText: #222222;
$lightText: #6b7280;

// ---------------------------------------- Utility Colors ----------------------------------------

$lightblue: #007bff;
$blue: #0b2d4d;
$green: #28a745;
$red: #dc3545;
$orange: #db4b07ea;
$purple: #6f42c1;

// ---------------------------------------- Theme Colors ----------------------------------------

$themeColor: $blue;
$themeColorHover:$lightblue;
$themeColorLight: #e6f0ff;
$primary-color: $themeColor;
$primaryLight: #2d56b314;
