@use "colors" as *;

.landing-page-image-context {
  background-image: url("/flight-landing-page.jpg");
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.landing-page-image-context-inner-content {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease, transform 0.7s ease;
}

.landing-page-image-context-inner-content.show {
  opacity: 1;
  transform: translateY(0);
}

.landing-page-image-context-title {
  //   width: 100%;
  color: $white;
  font-size: 60px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 10px;
}

.landing-page-image-searchbar-context {
  padding-bottom: 50px;
}

.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $themeColor;
  border-radius: 5px;
  padding-block: 40px;
  padding-inline: 10px;
  gap: 2px;
  width: 100%;
}
.search-inputs {
  display: flex;
  gap: 4;
}
.search-inputs > :first-child .common-input-inner,
.search-inputs > :first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.search-inputs > :nth-last-child(1) .common-input-inner,
.search-inputs > :nth-last-child(1) {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.common-input {
  background: $white;
  padding: 10px 14px;
  min-width: 180px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-size: 12px;
    color: $lightText;
  }
}

.input-value {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: $black;
  display: flex;
}

.input-value input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
}

.select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  max-height: 180px;
  overflow-y: auto;
  z-index: 10;
}

.select-dropdown li {
  padding: 8px 10px;
  cursor: pointer;
}

.select-dropdown li:hover {
  background-color: #f5f5f5;
}

.search-btn {
  background: $lightblue;
  color: $white;
  padding: 0 24px;
  height: 100%;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  padding-block: 21px;
  //   float: right;
  //   position: relative;
}

.clear-icon {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  cursor: pointer;
  color: $lightText;
}

.clear-icon:hover {
  color: #000;
}
